<h1>Pages#question</h1>
<p>Find me in app/views/pages/question.html.erb</p>

<form action="/answer" method="get">
  <br>Your question ?
  <input type="text" name="question" placeholder="whatever you want ask">
  <input type="submit" >
</form>
